﻿<footer class="footer">
    <div class="container">
        <h5>Contate-nos - todos os dias - +55 31 9 9999-9999</h5>
        <div class="row">
            <div class="col-lg-4">
                <span>
                    <a href="#" class="social-icon si-dark si-facebook si-dark-round">
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                        <i class="fa fa-skype"></i>
                    </a>
                </span>
            </div>
            <div class="col-lg-8 text-right">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#">Sobre</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Novidades</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">Termos & Condições</a>
                    </li>
                    <li class="list-inline-item">
                        &copy; Copyright @DateTime.Now.Year. Todos direitos reservados. Leilão On-Line
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>