﻿<footer class="content-footer bg-light b-t">
    <div class="d-flex flex align-items-center pl-15 pr-15">
        <div class="d-flex flex p-3 ml-auto">
            <div>
                Versão - 1.0
            </div>
        </div>
        <div class="d-flex flex p-3 mr-auto justify-content-end">
            <div class="text-muted">© Copyright @DateTime.Now.Year. Cheirinho do Campo</div>
        </div>
    </div>
</footer>