﻿@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}

<header class="navbar page-header whiteHeader navbar-expand-lg">
    <ul class="nav flex-row mr-auto">
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link sidenav-btn h-lg-down">
                <span class="navbar-toggler-icon"></span>
            </a>
            <a class="nav-link sidenav-btn h-lg-up" href="#page-aside" data-toggle="dropdown" data-target="#page-aside">
                <span class="navbar-toggler-icon"></span>
            </a>
        </li>
    </ul>
    <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
        <li class="nav-item dropdown user-dropdown align-items-center">
            <a class="nav-link" href="#" id="dropdown-user" role="button" data-toggle="dropdown">
                <span class="user-states states-online">
                    @*<img src="images/avatar6.jpg" width="35" alt="" class=" img-fluid rounded-circle">*@
                </span>
                <span class="ml-2 h-lg-down dropdown-toggle" style="text-transform: none;">
                    @User.Identity.Name
                </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-user">
                <div class="text-center p-3 pt-0 b-b mb-5">
                    <span class="mb-0 d-block font300 text-title fs-1x"><span class="font700">@User.Identity.Name</span></span>
                    <span class="fs12 mb-0 text-muted">@(User.IsInRole("Admin") ? "Administrator" : "Usuário")</span>
                </div>
                @if (Request.IsAuthenticated && !User.IsInRole("Admin"))
                {
                    <a class="dropdown-item" href="@Url.Action("MeusDados", "Admin")"><i class="icon-User"></i> Meus Dados</a>
                }
                <a class="dropdown-item" href="http://mail5011.smarterasp.net/Login.aspx" target="_blank"><i class="icon-Envelope"></i> Email</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="@Url.Action("ChangePassword", "Manage")"><i class="icon-Key"></i> Trocar Senha</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-Power"></i> Sair</a>
            </div>
        </li>
        <li class="h-lg-up nav-item">
            <a href="#" class=" nav-link collapsed" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false">
                <i class="icon-Magnifi-Glass2"></i>
            </a>
        </li>
    </ul>
</header>