﻿<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @if (string.IsNullOrEmpty(@ViewBag.Title))
    {
        <title>Leilão On-Line</title>
    }
    else
    {
        <title>@ViewBag.Title - Leilão On-Line</title>
    }

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/bootstrap/dist/css/bootstrap.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Theme/law-firm/html/css/plugins/plugins.css")">
    <link rel="stylesheet" href="@Url.Content("~/Theme/law-firm/html/linearicons/fonts.css")">
    <link rel="stylesheet" href="@Url.Content("~/Theme/law-firm/html/css/style.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Theme/law-firm/html/smart-form/contact/css/smart-forms.css")">

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/data-tables/responsive.bootstrap4.min.css">
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div>

    @Html.Partial("_Menu")

    @RenderBody()

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/inputmask")
    @*@Scripts.Render("~/bundles/jqueryval")*@

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    <!-- Bback to Top-->
    <a href="#" class="back-to-top" id="back-to-top"><i class="icon-chevron-up"></i></a>

    <!-- jQuery First, then Tether, then Bootstrap JS. -->
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/js/plugins/plugins.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/js/law-firm.custom.js")"></script>

    <!--smart-form script-->
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/smart-form/contact/js/jquery.form.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/smart-form/contact/js/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/smart-form/contact/js/additional-methods.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Theme/law-firm/html/smart-form/contact/js/smart-form.js")"></script>

    <!-- Data Tables -->
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/responsive.bootstrap4.min.js"></script>
    <script src="~/Theme/admin-dashboardUi/html/js/plugins-custom/datatables-custom.js"></script>

    <!-- RECAPTCHA GOOGLE -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">

        $(document).ready(function ($) {

            $("#logout").click(function (e) {
                e.preventDefault();

                var authorization = sessionStorage.getItem('token_type') + " " + sessionStorage.getItem('access_token');

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Logout',
                    dataType: 'jsonp',
                    contentType: 'application/json',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': authorization
                    },
                    success: function () {
                        sessionStorage.removeItem('access_token');
                        sessionStorage.removeItem('token_type');
                        sessionStorage.removeItem('expires_in');
                        sessionStorage.removeItem('userName');
                        sessionStorage.removeItem('issued');
                        sessionStorage.removeItem('expires');

                        window.location.href = '@Url.Action("Index","Home")';
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });

                sessionStorage.removeItem('access_token');
                sessionStorage.removeItem('token_type');
                sessionStorage.removeItem('expires_in');
                sessionStorage.removeItem('userName');
                sessionStorage.removeItem('issued');
                sessionStorage.removeItem('expires');

                window.location.href = '@Url.Action("Index","Home")';
            });

        });

    </script>
</body>
</html>
