﻿<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Cheirinho do Campo</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/bootstrap/dist/css/bootstrap.css">

    <!--Common Plugins CSS -->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/css/plugins/plugins.css">

    <!--fonts-->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/chartist/chartist.min.css" />
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/css/chartist-custom.css" />

    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/vector-map/jquery-jvectormap-2.0.2.css" />
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/css/style.css">

    <!-- Data Tables -->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/data-tables/responsive.bootstrap4.min.css">

    <!-- DATE PICKER -->
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/lib/dt-picker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="~/Theme/admin-dashboardUi/html/css/picker-custom.css">

    <!-- TOASTR -->
    <link rel="stylesheet" href="~/Theme/beauty-spa/html/bower_components/toastr/toastr.min.css">

</head>

<body>

    <div class="page-wrapper" id="page-wrapper">

        @Html.Partial("_MenuAdmin")

        <main class="content">

            @Html.Partial("_HeaderAdmin")

            @RenderBody()

            @Html.Partial("_FooterAdmin")

        </main>

        <p class="text-success"></p>
        <div onload="javascript:void(0)" id="type-success"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/inputmask")
    @Scripts.Render("~/bundles/moneymask")

    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

    <!-- Common plugins -->
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/js/plugins/plugins.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/js/appUi-custom.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/chartjs/dist/chart.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/peity/jquery.peity.min.js"></script>
    <script src="~/Theme/admin-dashboardUi/html/lib/chartist/chartist.js"></script>
    <script src="~/Theme/admin-dashboardUi/html/lib/chartist/chartist-tooltip.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/js/widgets-custom.js"></script>

    <!-- jvectormap -->
    <script src="~/Theme/admin-dashboardUi/html/lib/vector-map/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Theme/admin-dashboardUi/html/lib/vector-map/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/js/dashboard.custom.js"></script>

    <!-- Data Tables -->
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/data-tables/responsive.bootstrap4.min.js"></script>
    <script src="~/Theme/admin-dashboardUi/html/js/plugins-custom/datatables-custom.js"></script>

    <!-- DATE PICKER -->
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/fullcalendar/moment.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/lib/dt-picker/jquery.datetimepicker.full.min.js"></script>
    <script type="text/javascript" src="~/Theme/admin-dashboardUi/html/js/plugins-custom/pickers-custom.js"></script>

    <!-- TOASTR -->
    <script type="text/javascript" src="~/Theme/beauty-spa/html/bower_components/toastr/toastr.min.js"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Theme/assan-admin/js/toastr.init.js")"></script>*@
    <script type="text/javascript">
        $(document).ready(function ($) {
            @if (!string.IsNullOrEmpty(ViewBag.TypeToastr) && !string.IsNullOrEmpty(ViewBag.TitleToastr) && !string.IsNullOrEmpty(ViewBag.MessageToastr))
            {
                <text>
                    toastr_message("@ViewBag.TypeToastr", "@ViewBag.TitleToastr", "@ViewBag.MessageToastr");
                </text>
            }
        });

        function toastr_message(type, title, message) {
            toastr[type](message, title);
            //toastr['success'](message, title);
            //toastr.success("Message will come here", "Title");
        }
    </script>

</body>

</html>