﻿@using CheirinhoDoCampo.Models

<aside id="page-aside" class=" page-aside aside-fixed">
    <div class="sidenav darkNav">
        <a class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center" href="@Url.Action("Index", "Home")"><img src="~/Theme/beauty-spa/html/images/logo_white.png" alt="" height="40"></a>
        <div class="flex">
            <div class="aside-content slim-scroll">
                <ul class="metisMenu" id="metisMenu">

                    <li class="nav-title">Principal<span class="nav-thumbnail"></span></li>
                    <li class="@(ViewBag.Menu == Menu.Dashboard ? "active" : "")">
                        <i class="icon-Gaugage nav-thumbnail"></i>
                        <a class="has-arrow" href="javascript:void(0)">
                            <span class="nav-text">
                                Dashboard
                            </span>
                        </a>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Financeiro ? "active" : "")">
                                <i class="icon-Money-2 nav-thumbnail"></i>
                                <a href="@Url.Action("Financeiro", "Dashboard")">Financeiro</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.Menu == Menu.Principal ? "active" : "")">
                        <i class="icon-Book nav-thumbnail"></i>
                        <a class="has-arrow" href="javascript:void(0)">
                            <span class="nav-text">
                                Principal
                            </span>
                        </a>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Pedidos ? "active" : "")">
                                <i class="icon-File-Clipboard nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Pedido")">Pedidos</a>
                            </li>
                        </ul>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Gastos ? "active" : "")">
                                <i class="icon-Coin nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Gasto")">Gastos/Compras</a>
                            </li>
                        </ul>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Estoque ? "active" : "")">
                                <i class="icon-Box nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Estoque")">Estoque</a>
                            </li>
                        </ul>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Usuarios ? "active" : "")">
                                <i class="icon-User nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Usuario")">Clientes</a>
                            </li>
                        </ul>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.ProdutosPedido ? "active" : "")">
                                <i class="icon-User nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "PedidoProduto")">Produtos dos Pedidos</a>
                            </li>
                        </ul>
                    </li>

                    <li></li>

                    <li class="nav-title">Admin<span class="nav-thumbnail"></span></li>
                    <li class="@(ViewBag.Menu == Menu.Cadastros ? "active" : "")">
                        <i class="icon-Folder-Archive nav-thumbnail"></i>
                        <a class="has-arrow" href="javascript:void(0)">
                            <span class="nav-text">
                                Cadastros
                            </span>
                        </a>
                        <ul aria-expanded="false">
                            <li class="@(ViewBag.SubMenu == SubMenu.Categorias ? "active" : "")">
                                <i class="icon-Tag nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Categoria")">Categorias</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.Fornecedor ? "active" : "")">
                                <i class="icon-Truck nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Fornecedor")">Fornecedores</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.Produtos ? "active" : "")">
                                <i class="icon-Box-Close nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Produto")">Produtos</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.SubProdutos ? "active" : "")">
                                <i class="icon-Box-Open nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "SubProduto")">SubProdutos</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.TiposGasto ? "active" : "")">
                                <i class="icon-Money nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "TipoGasto")">Tipos Gasto</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.TiposPagamento ? "active" : "")">
                                <i class="icon-Money nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "TipoPagamento")">Tipos Pagamento</a>
                            </li>
                            <li class="@(ViewBag.SubMenu == SubMenu.Vendedor ? "active" : "")">
                                <i class="icon-User nav-thumbnail"></i>
                                <a href="@Url.Action("Index", "Vendedor")">Vendedores</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside-footer p-3 pl-25">
            <div class="">
                Versão - 1.0
            </div>
        </div>
    </div>
</aside>
