﻿<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="~/Theme/law-firm/html/images/logo.jpg" alt="" style="max-width:49px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#law-firm-navbar" aria-controls="law-firm-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="law-firm-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Leilao")">Leilões</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Novidades</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link">@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a id="logout" class="nav-link" href="">Sair</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Home")">Entrar</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#">Cadastre um Leilão conosco</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"><i class="icon-phone-outgoing"></i> +55 31 9 9999-9999</span>
                </li>
            </ul>
        </div>
    </div>
</nav>