﻿@model LeilaoOnline.Models.LanceLeilao

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="container pb50">
        <div class="mb40">
            <div class="smart-wrap">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.LeilaoId)
                    @Html.HiddenFor(model => model.UsuarioId)
                    <div class="form-body">

                        <div class="form-group">
                            @Html.LabelFor(model => model.Valor, new { @class = "field-label" })
                            @Html.EditorFor(model => model.Valor, new { @class = "gui-input" })
                            @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                        </div>

                        <div id="ApartamentoError" class="col-lg-12" style="text-align: center; margin-top: 20px">
                            @Html.ValidationMessage("ValorMininoError", "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="button btn btn-primary">Dar Lance</button>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</main>

