﻿@model IEnumerable<LeilaoOnline.Models.LanceLeilao>
@using LeilaoOnline.Models

@{
    ViewBag.Title = "Lances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" id="page-wrapper">
    <main class="content">
        <div class="page-subheader">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="list">
                            <div class="list-item pl-0">
                                <div class="list-thumb ml-0 mr-3 pr-3  b-r text-muted">
                                    <i class="icon-Box-Close"></i>
                                </div>
                                <div class="list-body">
                                    <div class="list-title fs-2x">
                                        <h3>@ViewBag.Title</h3>
                                    </div>
                                </div>
                                @if (User.IsInRole("Usuario"))
                                {
                                    <a href="@Url.Action("Create", "Lance", new { leilaoId = ViewBag.LeilaoId })" class="btn btn-icon btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                        Novo Lance
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white table-responsive rounded shadow-sm pt-3 pb-3 mb-30">
            <table id="data-table" class="table table-striped table-responsive-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Leilão</th>
                        <th>Usuário</th>
                        <th>Valor</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Leilao.Nome)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Usuario.Nome)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Valor)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>