﻿
<div id="home" class="fullscreen-hero bg-parallax" data-jarallax='{"speed": 0.4}' style='background-image: url(../../Theme/law-firm/html/images/bg3.jpg)'>
    <div class="hero-content">
        <div class="hero-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 text-center mr-auto ml-auto">
                        <h5 class="mb20 text-white display-3">Leilão OnLine </h5>
                        <p class="text-white-gray mb30 lead">
                            Temos vários itens a serem leiloados. Aproveitem!
                        </p>
                        <div>
                            <a data-scroll href="@Url.Action("Index", "Leilao")" class="btn btn-lg btn-white mr-3">Acesse os leilões</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="bg-primary pt40 pb40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class=" mt5  h2  text-white text-center">Consultoria gratuita para os leilões.</h2>
                </div>
                <div class="col-lg-4 text-center">
                    <a href="#" class="btn btn-lg btn-white btn-rounded">Solicite Agora</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container pt90 pb50" id="about">
        <div class="row">
            <div class="col-lg-4 mb40">
                <div class="card-white text-center">
                    <div class="card-content">
                        <h5 class="font500 ">Nossa Visão</h5>
                        <p>
                            Nossa Missão...
                        </p>
                        <a href="#" class="btn btn-link">Leia mais...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb40">
                <div class="card-white text-center">
                    <div class="card-content">
                        <h5 class="font500 ">Nossa Missão</h5>
                        <p>
                            Nossa Missão...
                        </p>
                        <a href="#" class="btn btn-link">Leia mais...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb40">
                <div class="card-white text-center">
                    <div class="card-content">
                        <h5 class="font500 ">Nossa História</h5>
                        <p>
                            Nossa História...
                        </p>
                        <a href="#" class="btn btn-link">Leia mais...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-parallax pt90 pb50" data-jarallax='{"speed": 0.4}' style='background-image: url(../../Theme/law-firm/html/images/bg3.jpg)'>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center mb40">
                    <h2 class="text-white h1 counter">@ViewBag.LeiLoesAtivo</h2>
                    <h6 class=" text-white">Leilões Ativos</h6>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb40">
                    <h2 class="text-white h1 counter">@ViewBag.LeiLoesFinalizado</h2>
                    <h6 class=" text-white">Leilões Finalizados</h6>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb40">
                    <h2 class="text-white h1 counter">@ViewBag.Lances</h2>
                    <h6 class=" text-white">Lances Executados</h6>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb40">
                    <h2 class="text-white h1 counter">@ViewBag.UsuariosAtivo</h2>
                    <h6 class=" text-white">Usuários Ativos</h6>
                </div>
            </div>
        </div>
    </div>
</main>