﻿@*<div class="row">
        <div class="col-sm-4">
            <h3>Log In</h3>
            <form id="loginForm">
                <div class="form-group">
                    <label>Email</label>
                    <input id="username" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input id="password" class="form-control" type="password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
                    <button id="logout" type="button" class="btn btn-default">Log Out</button>
                </div>
            </form>
        </div>
    </div>*@

<div class=" page-title bg-parallax pt90 pb90" data-jarallax='{"speed": 0.4}' style='background-image: url("../../Theme/law-firm/html/images/bg1.jpg")'>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="text-white font700 mb0 ">Entrar</h2>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Para realizar lances é necessário estar logado.
                </li>
            </ol>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="container pb50">
        <div class="mb40">
            <div class="smart-wrap">
                <div class="smart-forms smart-container">
                    <form id="loginForm">
                        <div class="form-body">
                            <div class="section">
                                <label class="field prepend-icon">
                                    <input id="username" class="gui-input" type="email" placeholder="Email" />
                                    <span class="field-icon"><i class="fa fa-user"></i></span>
                                </label>
                            </div>
                            <div class="section">
                                <label class="field prepend-icon">
                                    <input id="password" class="gui-input" type="password" placeholder="Senha" />
                                    <span class="field-icon"><i class="fa fa-lock"></i></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="button btn btn-primary">Entrar</button>
                            @*<button id="logout" type="button" class="btn btn-default">Log Out</button>*@
                            <button onclick="location.href='@Url.Action("Register", "Home")'" type="button" class="btn btn-default"> Registrar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function ($) {

            $("#loginForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    dataType: 'json',
                    //contentType: 'application/json',
                    data: {
                        grant_type: 'password',
                        username: $('#username').val(),
                        password: $('#password').val()
                    },
                    success: function (result) {
                        sessionStorage.setItem('access_token', result.access_token);
                        sessionStorage.setItem('token_type', result.token_type);
                        sessionStorage.setItem('expires_in', result.expires_in);
                        sessionStorage.setItem('userName', result.userName);
                        sessionStorage.setItem('issued', result['.issued']);
                        sessionStorage.setItem('expires', result['.expires']);

                        window.location.href = '@Url.Action("Index","Home")';
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });

            });

            $("#logout").click(function (e) {
                e.preventDefault();

                var authorization = sessionStorage.getItem('token_type') + " " + sessionStorage.getItem('access_token');

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Logout',
                    dataType: 'jsonp',
                    contentType: 'application/json',
                    headers: {
                        'Content-Type': 'application/json',
                        "Authorization": authorization
                    },
                    success: function () {
                        sessionStorage.removeItem('access_token');
                        sessionStorage.removeItem('token_type');
                        sessionStorage.removeItem('expires_in');
                        sessionStorage.removeItem('userName');
                        sessionStorage.removeItem('issued');
                        sessionStorage.removeItem('expires');

                        window.location.href = '@Url.Action("Index","Home")';
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });

                sessionStorage.removeItem('access_token');
                sessionStorage.removeItem('token_type');
                sessionStorage.removeItem('expires_in');
                sessionStorage.removeItem('userName');
                sessionStorage.removeItem('issued');
                sessionStorage.removeItem('expires');

                window.location.href = '@Url.Action("Index","Home")';
            });

        });

    </script>
}