﻿
<div class=" page-title bg-parallax pt90 pb90" data-jarallax='{"speed": 0.4}' style='background-image: url("../../Theme/law-firm/html/images/bg1.jpg")'>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="text-white font700 mb0 ">Registrar</h2>
            </div>
        </div>
    </div>
    <div class="page-breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    Após o registro feito será necessário logar.
                </li>
            </ol>
        </div>
    </div>
</div>

<main class="main-content">
    <div class="container pb50">
        <div class="mb40">
            <div class="smart-wrap">
                <div class="smart-forms smart-container">
                    <form id="registerForm">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="field-label">Email</label>
                                <input id="Email" class="gui-input" type="email" />
                            </div>
                            <div class="form-group">
                                <label class="field-label">Senha</label>
                                <input id="Password" class="gui-input" type="password" />
                            </div>
                            <div class="form-group">
                                <label class="field-label">Confirmar Senha</label>
                                <input id="ConfirmPassword" class="gui-input" type="password" />
                            </div>
                            <div class="form-group">
                                <label class="field-label">Nome</label>
                                <input id="Nome" class="gui-input" type="text" />
                            </div>
                            <div class="form-group">
                                <label class="field-label">CPF</label>
                                <input id="Cpf" class="gui-input" type="text" />
                            </div>
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="button btn btn-primary">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function ($) {
            $("#Cpf").inputmask("999.999.999-99", { removeMaskOnSubmit: true });

            $("#registerForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    dataType: 'json',
                    //contentType: 'application/json',
                    data: {
                        Email: $('#Email').val(),
                        Password: $('#Password').val(),
                        ConfirmPassword: $('#ConfirmPassword').val(),
                        Nome: $('#Nome').val(),
                        Cpf: $('#Cpf').val()
                    },
                    success: function (result) {
                        window.location.href = '@Url.Action("Login","Home")';
                    },
                    error: function (result) {
                        alert(JSON.stringify(result));
                    }
                });

            });

        });

    </script>
}