﻿@model LeilaoOnline.Models.Leilao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Leilao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Responsavel.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsavel.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
