﻿@model IEnumerable<LeilaoOnline.Models.Leilao>
@using LeilaoOnline.Models

@{
    ViewBag.Title = "Leilões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" id="page-wrapper">
    <main class="content">

        <div class="page-subheader">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="list">
                            <div class="list-item pl-0">
                                <div class="list-thumb ml-0 mr-3 pr-3  b-r text-muted">
                                    <i class="icon-Box-Close"></i>
                                </div>
                                <div class="list-body">
                                    <div class="list-title fs-2x">
                                        <h3>@ViewBag.Title</h3>
                                    </div>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Create")" class="btn btn-icon btn-primary btn-sm">
                                        <i class="fa fa-plus"></i>
                                        Novo
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white table-responsive rounded shadow-sm pt-3 pb-3 mb-30">
            <table id="data-table" class="table table-striped table-responsive-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th>Nome</th>
                        <th>Valor Inicial</th>
                        <th>Usado</th>
                        <th>Data Abertura</th>
                        <th>Data Fim</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Responsavel.Nome)
                            </td>
                            <td style="vertical-align: middle;">
                                @if (item.StatusId == new Guid("FCA13C60-89E9-4D1C-9A80-EB366FA2F4D5")) //Rascunho
                                {
                                    <span class="badge badge-text badge-light mr-2 mb-2" data-id="@item.StatusId">@item.Status.Nome</span>
                                }
                                else if (item.StatusId == new Guid("91D8BC5F-06E4-48F1-BA48-CDF609F0D94C")) //Aprovado
                                {
                                    <span class="badge badge-text badge-primary mr-2 mb-2" data-id="@item.StatusId">@item.Status.Nome</span>
                                }
                                else if (item.StatusId == new Guid("F0FD43EB-001E-4DE8-9C93-0D92A4AE0B21")) //Ganho
                                {
                                    <span class="badge badge-text badge-success mr-2 mb-2" data-id="@item.StatusId">@item.Status.Nome</span>
                                }
                                else if (item.StatusId == new Guid("AAA59E0E-9CAE-4124-82D0-EEBA84E71423")) //Perdido
                                {
                                    <span class="badge badge-text badge-danger mr-2 mb-2" data-id="@item.StatusId">@item.Status.Nome</span>
                                }
                                else if (item.StatusId == new Guid("D736FF75-5152-45C0-BAAA-23802B3942EC")) //Cancelado
                                {
                                    <span class="badge badge-text badge-warning mr-2 mb-2" data-id="@item.StatusId">@item.Status.Nome</span>
                                }
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.ValorInicial)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Usado)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.DataAbertura)
                            </td>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.DataFim)
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info btn-sm mr-2 mb-2">
                                    <i class="fa fa-eye"></i>
                                </a>

                                @if (User.IsInRole("Admin"))
                                {
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning btn-sm mr-2 mb-2">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn-o btn-danger btn-sm mr-2 mb-2">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                }
                                @if (User.IsInRole("Usuario") && item.StatusId == new Guid("4df2f05b-1a14-42f4-91ad-c6c13a0bfea3"))
                                {
                                    <a href="@Url.Action( "Create", "Lance", new { leilaoId = item.Id })" class="btn btn-danger btn-sm mr-2 mb-2">
                                        <i class="fa fa-handshake-o"></i>
                                    </a>
                                }

                                <a href="@Url.Action( "List", "Lance", new { leilaoId = item.Id })" class="btn btn-success btn-sm mr-2 mb-2">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </main>
</div>